<%- include('includes/top.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>
    <div class="top">
    <div class="main">
        <div class="search-container">
            <% for (let i=0; i<user.saved.length; i++){ %>
                <div class="search-el" onclick="location.assign('/user/saved/<%=user.saved[i]._id%>')">
                    <div><%=user.saved[i].name%></div>
                    <div><%=user.saved[i].date.toString()%></div>
                </div>
               
            <% } %>
        </div>
    </div>
    </div>
   
</div>
</body>